<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Yarrabilba Health City</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leadmark.css') }}">
</head>
<script>
    const observerOptions = {
      root: null,
      threshold: 0.4,
      rootMargin: '0px 0px -50px 0px'
    };
    
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('in-view');
        } else {
          entry.target.classList.remove('in-view');
        }
      });
    }, observerOptions);
    
    window.addEventListener('DOMContentLoaded', (event) => {
      const sections = Array.from(document.getElementsByClassName('faderight'));
    
      for (let section of sections) {
        observer.observe(section);
      }
    });
 </script>

 <style>
    p{
        font-size: medium;
    }   

    footer p {
    font-size: medium;
    text-align: left;
    color: white;
  }

  footer h6{
    font-size: x-large;
    text-align: left;

    
  }
 </style>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">    
        <div class="container">
            <a class="navbar-brand" href="#" style="background-color: white; border-radius: 50px; padding: 10px;">
                <img src="static/imgs/yhc_logo.png" alt="" style="width: 200px;">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#service">Our Service</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size: medium;">Home</a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/about_us" style="font-size: medium;">About Us</a>
                      </li>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/directory" style="font-size: medium;">Directory</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/contact" style="font-size: medium;">Contact Us</a>
                      </li>
                    <!-- <li class="nav-item">
                        <a href="components.html" class="ml-4 nav-link btn btn-primary btn-sm rounded">Components</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <header class="header" style="height: 500px;background-position: 0 250%;">
 
        <div class="overlay">

            <h1 >Get To Know The Practices at</h1>
            <h1 class="title faderight">Yarrabilba Health City</h1>  
            <!-- <h1 class="title faderight">Yarrabilba Health City</h1>   -->
        </div>  
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
            </svg>
        </div>  
        <div class="mouse-icon"><div class="wheel"></div></div>
    </header>

<!-- About Section -->
<section class="section" id="about" style="background-color: white;">
  <div class="container" style="padding-top: 50px;">
      <div class="row">
          {% for practice in practices %}
          <div class="col-lg-4 col-md-6 mb-3">
              <div class="card border-0" style="height: 100%;">
                  <div class="card-img-top rounded-bottom d-flex justify-content-center align-items-center" style="overflow: hidden; height: 200px; background-color: rgb(255, 255, 255);">
                      {% set first_image = practice.images[0] %}
                      <img src="{{ url_for('get_image', image_id=first_image.id) }}" alt="{{ practice.title }}" class="img-fluid" style="object-fit: cover; max-height: 100%; max-width: 100%;">
                  </div>
                  <div class="card-body bg-white text-dark rounded-top d-flex flex-column justify-content-center align-items-center" style="height: 80px;">
                    <h5 class="card-title mb-0">{{ practice.title }}</h5>
                </div>
                  
                  <div class=" bg-white text-center" style="margin-top: 0px;"> <!-- Adjust the margin-top value as needed -->
                      <a href="{{ url_for('practice_details', practice_id=practice.id) }}" class="btn btn-primary" style="border-radius: 20px;">Read More</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>


    


<footer class="text-center text-lg-start text-white section has-img-bg" style="background-color: #1c2331;">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
      <div class="container text-center text-md-start">
          <!-- Grid row -->
          <div class="row mt-3">

              <div class="container2">
                  <div class="row justify-content-center">
                      <!-- Grid column -->
                      <div class="mx-auto mb-4">
                          <!-- Content -->
                          <h6 class="text-uppercase fw-bold"></h6>
                              <a class="navbar-brand" href="#" style="background-color: #ffffffdf; border-radius: 50px; padding: 10px;">
                                  <!-- Adjusted the width of the logo -->
                                  <img src="static/imgs/yhc_logo.png" alt="" style="max-width: 250px;">
                              </a>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase fw-bold">Visit Us</h6>
                          <hr class="" style="width: 250px; background-color: white; height: 2px" />
                          <p>
                              <a href="#!" class="text-white">Yarrabilba Health City, 26 - 36 Alder Circuit, Yarrabilba, QLD 4207</a>
                          </p>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase fw-bold">More links</h6>
                          <hr class="" style="width: 250px; background-color: white; height: 2px" /> <p>
                              <a href="/about_us" class="text-white">About Us</a>
                          </p>
                          <p>
                              <a href="/directory" class="text-white">Directory</a>
                          </p>
                          <p>
                              <a href="/contact" class="text-white">Contact Us</a>
                          </p>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase fw-bold">Contact</h6>
                          <hr class="" style="width: 250px; background-color: white; height: 2px" /> 
                          <p></i>Phone : 1300 014 878</p>
                      </div>
                      <!-- Grid column -->
                  </div>
              </div>


          </div>
          <!-- Grid row -->
      </div>
  </section>
  <!-- Section: Links  -->


  <!-- Copyright -->
</footer>
<!-- Footer -->

  
	
    	<!-- core  -->
        <script src="{{ url_for('static', filename='vendors/jquery/jquery-3.4.1.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.bundle.js') }}"></script>
        
        <!-- bootstrap 3 affix -->
        <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.affix.js') }}"></script>
        
        <!-- Isotope -->
        <script src="{{ url_for('static', filename='vendors/isotope/isotope.pkgd.js') }}"></script>
        
        <!-- LeadMark js -->
        <script src="{{ url_for('static', filename='js/leadmark.js') }}"></script>

</body>
</html>
